body {
    background: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

.calculator {
    width: 320px;
    background: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
}

.display {
    background: black;
    color: #0f0;
    font-size: 32px;
    padding: 15px;
    text-align: right;
    border-radius: 6px;
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #4a4a4a;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #666;
}

.op {
    background: #ff9500;
}

.op:hover {
    background: #cc7a00;
}

.equal {
    grid-column: span 4;
    background: #28a745;
}

.equal:hover {
    background: #1f7d36;
}
